@import '~boxicons/css/boxicons.min.css';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen {
    position: relative;
    width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    overflow: hidden;
}

.screen__content {
    padding: 30px;
}

.login__field {
    position: relative;
    margin-bottom: 20px;
}

.login__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fbfffc;
}

.login__input {
    width: calc(100% - -6px);
    padding: 10px 20px;
    border: 1px solid #12b300;
    border-radius: 9px;
    outline: none;
}

.login__submit {
    width: 51%;
    padding: 8px 0;
    background-color: #12b300;
    color: #0000ff f;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.login__submit:hover {
    background-color: #ccc;
}

.button__text {
    margin-right: 10px;
}

.button__icon {
    margin-left: 10px;
}
.center {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  
  .button-container {
    text-align: center;
  }
  
  .Heading {
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold;
    color: #383938; /* Change color as needed */
    margin-top: 20px;
  }
  
  .center {
    text-align: center;
    
  }

  .icon {
    color: #12b300; /* Set the color of the icon */
  }