<div class="container">
    <div class="screen">
      <div class="screen__content">
        <form [formGroup]="signinForm" (ngSubmit)="login()">
            <h3 class="Heading center">
                <i class="icon bx bxs-user"></i> Log in
              </h3>
          <br><br>
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="email" class="login__input" placeholder="User name" formControlName="username">
          </div>
          
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" formControlName="password">
          </div>
          
          <div class="button-container"> <!-- Added container for buttons -->
            <button type="submit" class="button login__submit">
              <span class="button__text">Sign In</span>
            </button>  
            
            <button class="button login__submit">
              <span class="button__text"><a routerLink="/signin">Sign Up</a></span>
            </button>
          </div>              
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>      
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>      
    </div>
  </div>
  