.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen {
    position: relative;
    width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    overflow: hidden;
}

.screen__content {
    padding: 30px;
}

.login__field {
    position: relative;
    margin-bottom: 20px;
}

.login__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fbfffc;
}

.login__input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login__submit {
    width: 100%;
    padding: 10px 0;
    background-color: #12b300;
    color: #0000fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add margin between buttons */
}

.login__submit:hover {
    background-color: #ccc;
}

.button__text {
    margin-right: 10px;
}

.button__icon {
    margin-left: 10px;
}
