/* src/app/membership-activation/membership-activation.component.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #283048, #859398); /* Gradient background */
  background-size: cover;
  overflow: hidden;
}
.membership-container {
    text-align: center;
    padding: 90px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    /* display: block; */
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  