/* src/app/membership-activation/membership-activation.component.css */
/* src/app/profile/profile.component.css */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #283048, #859398); /*Gradient background */
  background-size: cover;
  overflow: hidden;
}
#content {
  background-color: #f0f0f0; 
  }
.membership-container {
  padding: 50px;
  border-radius: 16px;
  
  width: 100%;
  max-width:  600px;
  margin: 50px auto; /* Center the container */
  }
  
  h2 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    /* display: block; */
    margin-bottom: 8px;
    font-weight: bold;
  }
  /* membership-activation.component.css */

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.5vh; /* Adjust if needed to center vertically within the viewport */
}

  
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    background-color: #12b300;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }