/* External CSS for Form Styling */

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
    background-color: blue; /* Change color to blue */
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
    border-color: blue; /* Change color to blue */
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* .chekbox-group{
    display: flex;
    justify-content: space-between;

    margin-top: 8px;
} */


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
.mat-form-field {
    width: 200%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
}
input[type="date"],
.mat-form-field {
    width: 200%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.someElement {
    line-height:55px;
}
.someElementt {
    line-height:3px;
}


.error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
}

.mat-radio-button {
    margin-right: 10px;
}

.mat-checkbox {
    margin-left: 5px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:disabled {
    background-color: #ced4da;
    cursor: not-allowed;
}
