/* src/app/profile/profile.component.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #283048, #859398); /* Gradient background */
  background-size: cover;
  overflow: hidden;
}

.profiles-container {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Soft box shadow for depth */
  width: 80%;
  max-width: 600px;
  margin: 50px auto; /* Center the container */
}

h2 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

input {
  width: calc(100% - 24px);
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #3498db; /* Blue color */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.active-member-btn {
  width: 100%;
  background-color:  #0056b3; /* Green color */
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.active-member-btn:hover {
  background-color:  #0056b3; /* Darker shade on hover */
}
